.user-result-inner-box {
    background-color: white !important;
    width: 70vw !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    bottom: 0 !important;
    margin-top: -2rem !important;
}
