.inner-snap-section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.inner-snap-section-top {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    position: absolute;
}
