.product-img {
    width: 30vmin !important;
    height: 50vh;
    object-fit: cover;
    object-position: 100% 50%;
    transition: object-position 1200ms;
    animation-fill-mode: forwards;
}

.socials-img {
    width: 30vmin !important;
    height: 50vh;
    object-fit: cover;
    object-position: 100% 50%;
    animation-fill-mode: forwards;
    opacity: 1;
    transition:
        opacity 0.5s ease-in,
        object-position 1200ms;
}

.hover {
    transition:
        opacity 0.2s ease-in,
        object-position 1200ms;
    opacity: 1;
}

.no-hover {
    transition:
        opacity 0.2s ease-in,
        object-position 1200ms;
    opacity: 0.5;
}

.socials-img:hover {
    opacity: 0.25;
}

@media (max-width: 480px) {
    .socials-img,
    .product-img {
        width: 55vmin !important;
    }
}
